:root {
  --pink: #FF66B2;
  --pink-dark: #FF3385;
}

body {
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
}

h2.text-pink {
  color: #e91e63;
  font-weight: bold;
  font-size: 2rem;
}

p.lead {
  color: #666;
  font-size: 1.1rem;
}

/* Form container */
form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

input[type="file"] {
  background-color: #f8f9fa;
  border: 2px solid #e91e63;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input[type="file"]:focus {
  border-color: #d81b60;
}

.buplo {
  background-color: #e91e63; /* Rosa para el botón de subir */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.buplo:hover {
  background-color: #f56b99;
}

.navbar {
  background-color: var(--pink);
  z-index: 2;
}

header{
  background-color: var(--pink);
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link {
  font-weight: 500;
  color: white !important;
}
.navbar-nav .nav-link:hover {
  color: var(--pink-dark) !important;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

form {
  margin-top: 2rem;
}
